@media screen and (max-width: 600px) {
  /* responsing hero section + navbar */
  body {
    overflow-x: hidden !important;
  }
  .cursor-outline,
  .cursor-dot {
    display: none;
  }
  #mobileToggle.themeToggle {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    font-size: 1rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background: var(--accents-color);
    border: none;
    color: var(--white-color);
    transition: var(--transition);
  }
  #mobileToggle:hover,
  .light-theme #mobileToggle:hover,
  #mobileToggle.themeToggle:hover,
  .light-theme .themeToggle {
    background-color: var(--secondary-color);
    color: var(--accents-color);
  }
  .light-theme #themeToggle {
    --white-color: #ffffff;
    color: var(--white-color);
  }

  #hero {
    height: auto;
    padding: 40px 0;
  }

  #hero .container {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .container {
    padding: 0 15px;
  }

  .hero-content {
    width: 100%;
    padding: 20px 0;
    gap: 10px;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
    width: 100%;
  }

  .hero-content .fill-button {
    font-size: 0.8rem;
  }

  .hero-image {
    width: 87%;
    display: none;
  }

  .hero-image img {
    height: auto;
    animation-play-state: paused;
    border-radius: 23px;
  }

  .hide {
    display: block;
  }

  #navbar:not(i) {
    display: none;
  }

  /* Responsing About me Section */
  #About {
    height: auto;
    padding: 40px 0;
  }

  #About .container {
    flex-direction: column;
    gap: 20px;
  }

  .About-img {
    height: auto;
    width: 100%;
  }

  .About-img img {
    width: 100%;
    height: 355px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
    border: 5px double var(--accents-color);
  }

  .About-content {
    gap: 15px;
    width: 100%;
  }

  .About-content h1 {
    font-size: 2.5rem;
  }

  .About-content p {
    font-size: 0.9rem;
  }

  .About-content .stroke-button {
    font-size: 0.8rem;
    font-weight: 700;
    padding: 10px 20px;
  }
  .Services-card-wrapper {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .image-wrapper {
    height: 250px;
  }

  .modal {
    padding: 60px 10px 20px;
  }

  .Services-content p {
    font-size: 1rem;
    width: 97%;
    line-height: 1.5;
  }
  .skill-content h1 {
    font-size: 2.5rem;
  }
  .skill-content p {
    font-size: 1rem;
    width: 97%;
  }
  .Skill-card-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(161px, 2fr));
  }
  .card {
    height: 150px;
    padding: 30px 15px;
    width: 150px;
  }
  .card h3 {
    font-size: 1rem;
  }
  .card img {
    width: 65px;
  }
  .Portfolio-content h1 {
    font-size: 2.5rem;
  }
  .Portfolio-content p {
    width: 97%;
    font-size: 1rem;
  }
  #Counters {
    padding: 40px 0;
  }

  #Counters .counter-wrapper {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .counterCard {
    width: 45%;
  }
  .counterCard h1 {
    font-size: 2.1rem;
    margin-bottom: 10px;
  }
  .counterCard p {
    font-size: 0.8rem;
  }
  #Services .Services-content h1 {
    font-size: 2.5rem;
  }
  #Contact .container {
    flex-direction: column;
  }
  #Contact .contactInfo,
  #Contact .contactForm {
    width: 100%;
  }
  .contactInfo > h1 {
    font-size: 2.5rem;
  }
  .contactInfo > p {
    width: 100%;
  }
  .IconsWrapper {
    margin-bottom: 2.5rem;
  }
  .iconsCard {
    width: 100%;
  }
  .iconsCard img {
    width: 4rem;
  }
  .iconsContent h1 {
    font-size: 1.3rem;
  }
  .iconsContent p {
    font-size: 0.9rem;
  }
  #contactForm {
    padding: 30px 20px;
  }
  .form-row {
    grid-template-columns: 1fr;
    gap: 6px;
  }
  #footer .f-contant,
  #footer .copyright {
    flex-direction: column;
  }
  .F-logo,
  .quick-links,
  .F-services,
  .getInTouch {
    width: 100%;
  }
  .copyright p {
    order: 1;
  }
  .copyright button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hide {
    display: block;
  }
  #navbar {
    display: none;
  }
  #mobileToggle.themeToggle {
    display: flex;
  }
  .hero-image {
    display: none;
  }
  .hero-content {
    width: 100%;
  }
  #About {
    height: auto;
    padding: 40px 0;
  }

  #About .container {
    /* flex-direction: column; */
    gap: 20px;
  }

  .About-img {
    height: auto;
    width: 100%;
  }

  .About-img img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
    border: 5px double var(--accents-color);
  }

  .About-content {
    gap: 15px;
    width: 100%;
  }

  .About-content h1 {
    font-size: 3rem;
  }

  .About-content p {
    font-size: 1rem;
  }
  #Counters .counterCard h1{
    font-size: 2.3rem;
  }
  #Counters .counterCard p{
    font-size: 1rem;
  }
  .Services-card-wrapper {
    max-width: 48%;
    flex: 0 0 48%;
  }
  #Contact .container {
    flex-direction: column;
  }
  #Contact .contactInfo,
  #Contact .contactForm {
    width: 100%;
  }
  .contactInfo > h1 {
    font-size: 2.5rem;
  }
  .contactInfo > p {
    width: 65%;
  }
  .IconsWrapper {
    margin-bottom: 2.5rem;
  }
  .iconsCard {
    width: 60%;
  }
  .iconsCard img {
    width: 4rem;
  }
  .iconsContent h1 {
    font-size: 1.3rem;
  }
  .iconsContent p {
    font-size: 0.9rem;
  }
  #contactForm {
    padding: 60px 40px;
  }
  .form-row {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  #footer .f-contant {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .F-logo,
  .quick-links,
  .F-services,
  .getInTouch {
    width: 40%;
  }
    #footer .copyright{
        width: 100%;
        justify-content: center;
    }
  .copyright p {
    order: 1;
    text-align: center;
  }
  .copyright button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
}
